body{
    background-image: url('./img/vishMaria.png');
    background-size: cover;
}

form{
    margin: auto;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;

}

form section{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="email"]:focus {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #0059b8;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #005abb; /* Cor de fundo mais escura ao passar o mouse */
}

button:active {
    background-color: #003b7e; /* Cor de fundo ainda mais escura ao clicar */
}